@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Work+Sans:wght@400;500;700&display=swap');


:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-color);
}

.text {
    margin-bottom: -0.5em;
}

.imagem {
    padding: 30px 50px;
    display: flex;
}

.imagem .img img{
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
    
}

.title {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    color: var(--title-color);
    padding: 5.50px 36px;
    font-family: 'Work Sans', sans-serif;    
}

.paragrafo {
    color: #FFF;
    font-size: 14px;
    font-family: Spartan;
    font-weight: 700;
    padding: 5.50px 36px;
    font-family: 'League Spartan', sans-serif;

}

.text-rocket {
    display: flex;
    width: 647px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--form-color);
    font-size: 14px;
    font-family: Spartan;
    line-height: 138.735%;
    padding: 5.50px 36px;
    font-family: 'League Spartan', sans-serif;
}

.referencia {
    color: var(--purple, #8257E5);
    font-size: 14px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    line-height: 138.735%;
    padding: 117px 36px;

}

.arrow-image img{
    vertical-align: middle;
    margin-left: 5px;
    transform: translateY(-2px);
}

.text-email {
    color: var(--form-color);
    padding: 50px 36px;
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;


}